# JavaScript
node_modules
dist
.turbo
.DS_Store
.env
.env.*.local
.next

# Python
__pycache__
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/
.pytest_cache/
apps/app/.env.local
apps/api/database.db
apps/api/scheduler_jobs.db
